<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elsa Zambrano - Pivot</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=BIZ+UDMincho&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="styles.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div class="container">
        <div class="left-column">
            <!-- <img src="elsaPic.jpg" alt="Elsa Zambrano" class="profile-image"> -->
            <img src="{{ url_for('static', filename='elsaPic.jpg') }}" class='profile-image' alt="Logo">

            <h2>Elsa Zambrano</h2>
            <p class="bio">Senior executive with the proven ability to execute on solutions to drive business results. Successful in C-Suite roles with increasing levels of complexity and in diverse industries. Ability to simplify the complex. Strong competence in agility; ability to roll up sleeves to tackle challenges with cross-functional teams.</p>
            <div class="contact">
                <h3>Contact</h3>
                <p>PHONE: 512-639-3210</p>
                <p>EMAIL: <a href="mailto:ElsaZambrano516@gmail.com">ElsaZambrano516@gmail.com</a></p>
            </div>
            <img src="icf-badge.png" alt="Certified Badge" class="badge">
            <img src="acc-badge.png" alt="ACC Badge" class="badge acc-badge">
        </div>
        <div class="right-column">
          <img src="pivotLogo.png" alt="Pivot: Change is good" class="pivot-logo">
            <ul class="services">
                <li>Executive Coaching</li>
                <li>Leadership Development</li>
                <li>Succession Management</li>
                <li>Change Management</li>
                <li>Transformation Strategies</li>
                <li>Acquisition, Mergers & Divestitures</li>
                <li>HR Operations</li>
            </ul>
            <h2>Coaching</h2>
            <p>Engagements that focus on your growth, transitions, or hurdles in your career. Utilizing a reflective method that builds trust through a partnership focused on your success.</p>
            <p>Three-, six- or twelve-month coaching packages to address your needs.</p>
            <h2>Consulting</h2>
            <p><strong>HR STRATEGY, CULTURE, ENGAGEMENT</strong><br>
            Strategies for workplace culture with programmatic solutions to strengthen your organization.</p>
            <p>Leadership program designed to develop your mid-level and senior leaders that enable high organizational performance.</p>
            <p>Facilitation of people strategies that support business growth or transformation.</p>
            <h2>Fractional HR Leader</h2>
            <p>Able to lead the HR function and teams in a transition era or leadership disruption. I have led large and small HR teams across technology and service organizations, in local and global organizations.</p>
            <ul class="hr-services">
                <li>HR Process Automation</li>
                <li>Compensation</li>
                <li>HR Operations</li>
                <li>Recruitment Strategies</li>
                <li>Diversity Strategies</li>
            </ul>
        </div>
    </div>

    <div class="container-two">
      <div class="content-row">
          <div class="number">3</div>
          <div class="content-section">
              <h1>Reminders for a Healthy Mind, Soul, and Body</h1>
              <h2>Get outside!</h2>
              <p>It's hot in so many parts of the world, but a little sun goes a long way.</p>
              <h2>Practice one act of kindness today.</h2>
              <p>It will make a difference in someone's life.</p>
              <h2>Get moving!</h2>
              <p>Feel free to move around your office or couch whenever you like. Taking breaks to walk around can improve circulation, and give your mind a chance to recharge. It's a simple way to stay refreshed and productive throughout your day.</p>
          </div>
      </div>
      
      <div class="content-row">
          <div class="number">2</div>
          <div class="content-section">
              <h1>Books I'm Reading and Loving</h1>
              <div class="book">
                  <img src="strength.jpg" alt="From Strength to Strength book cover">
                  <div class="book-info">
                      <h2>From Strength to Strength</h2>
                      <h3>Arthur C. Brooks</h3>
                      <p>Great insights into the next chapter we all hope to have in our lives. Easy, palatable read!</p>
                  </div>
              </div>
              <div class="book">
                  <img src="copperhead.jpg" alt="Demon Copperhead book cover">
                  <div class="book-info">
                      <h2>Demon Copperhead</h2>
                      <h3>Barbara Kingsolver</h3>
                      <p>It's a commitment to read this book – it is long and speaks to serious challenges in the southern mountains of Appalachia. However, the author does an amazing job of storytelling.</p>
                  </div>
              </div>
          </div>
      </div>
      
      <div class="content-row">
          <div class="number">1</div>
          <div class="content-section">
              <h1>Quote that Resonates with Me</h1>
              <blockquote class="secondary-color">
                  "In times of rapid change, experience could be your worst enemy."
              </blockquote>
              <p class="author">J. Paul Getty</p>
          </div>
      </div>
    </div>

    <div class="testimonials">
        <h2>Testimonials</h2>
        <blockquote>
        <p>
            "The experience you receive from Elsa's personal journey is like no other. She has been in an executive position for decades -- with that comes insights from lessons learned, various management strategies, and expertise in hiring, training and retention. An admirable characteristic of Elsa is her openness to new ideas. She is an outstanding listener who truly makes you feel heard and valued. While extensive experience can sometimes lead to the same way of management and a rigid approach, Elsa remains at the top of the latest practices and stays open minded to new perspectives. She is so resourceful. In any coaching situation, you want someone that you can relate to, you can connect with and you feel they have your best interest in mind. Elsa checks all the boxes and more. I am thankful for her guidance and thought-partnership over the years."
          </p>
          <cite>CEO, Austin Non-Profit</cite>
        </blockquote>
  
        <blockquote>
          <p>
            "I had the pleasure of working with Elsa and found her to excel in partnering for business growth, influencing and being a hands-on business partner.  Should you be lucky enough to work for or with Elsa, you will experience a transformational executive leader who shapes company culture; building, motivating and developing people, creating high-performing and inclusive global teams. Her unique c-suite and BOD experience provides a strategic and productive perspective for executive feedback and coaching, helping bring solutions to complex business problems."
          </p>
          <cite>Sr. Director, High Tech, USA</cite>
        </blockquote>
  
        <blockquote>
          <p>
            "I met Elsa in my very first job when I was a HR rotationer. I was young and puzzled starting my career, and Elsa came in as a great mentor to guide me through all stages of my career development, e.g., getting to know myself, creating the right opportunities, making hard decisions and completing transitions each time I decided to make a change. After 15 years, I have worked in 3 continents, 7 countries, energized to contribute every day with I do. I would not have been able to do any of this without Elsa’s support. Elsa is wise, reliable and one of the most altruistic leader I have ever met, you can trust her fully. I am very lucky to have met Elsa, till this day, she has become not just my mentor but a dear family and friend."
          </p>
          <cite>Head of People and Organization Development, High Tech, China</cite>
        </blockquote>
  
        <blockquote>
          <p>
            "I had the privilege of working with Elsa Zambrano for around 5 years. She is a truly transformative leader and coach. Her deep expertise, intuitive nature, combined with a genuine empathy and supportive approach, have made a significant impact for the business leaders she supported, and has been invaluable for my own professional growth. Elsa has an exceptional ability to ask incisive questions that enable insights; her ability to provide mentorship, guidance and practical strategies drive real results. I highly recommend Elsa to anyone looking to elevate their leadership skills."
          </p>
          <cite>Sr Director, High Tech, India</cite>
        </blockquote>
  
        <blockquote>
          <p>
            "I’ve had the pleasure of working alongside Elsa at Dell, and more recently as my Executive Coach. Elsa is a remarkable professional and coach who has greatly impacted my career. More than a decade ago, Elsa helped me discover my passion for being a strategic HR Business Partner by teaching me the importance of learning everything you can about the business you are supporting. Specifically, Elsa sat alongside the sales teams for several days to discover the complexities of their jobs. Based on this approach, she architected a simple and effective HR strategy for the business. After seeing the results of her approach, I’ve leveraged this practice with my clients. It has been a game changer in curating organization development solutions that drive business impact.
            <br>
            In addition to her thoughtful approach to partnering with the business, Elsa has a unique, calming, and compassionate style that immediately puts others at ease. She creates a culture and environment where everyone feels valued, respected, and empowered to share new ideas. Elsa leaves every work environment she touches better than she found it. Her passion for creating supportive and high-performing workplaces makes her an invaluable asset to any organization. I consider myself incredibly fortunate to have Elsa as my coach, and I know that anyone who works with her will be better for it."
          </p>
          <cite>VP, High Tech, USA</cite>
        </blockquote>

        <blockquote>
          <p>
            "I have had the privilege of working with Elsa during two pivotal moments in my career. Our first collaboration was at Dell, where Elsa served as the HR executive for the Presidency of Latin America business. During this time, I was promoted to the VP level, and Elsa played a crucial role in my development from director to VP. She recommended valuable books, mentoring, a coach, and events to attend. More importantly, Elsa personally coached me on the unspoken aspects of being an executive, including communication, attitude, and decision-making. Her feedback was always honest, transparent, and aimed at helping me grow constructively.
          <br>
            Fast forward ten years, our paths crossed again at L500, a non-profit organization dedicated to empowering Latina leaders. Together, we have been developing “The Thought Leadership Program” for L500 members. Elsa’s vast experience in the corporate world, her deep wisdom, and her unique perspective on leadership and boardroom dynamics have been invaluable. Her passion for developing others is evident in her clear communication style and the profound questions she asks, which always lead to greater clarity and insight.
          <br>
            Elsa’s dedication to helping others succeed is unmatched, and I am grateful for her guidance and support throughout my career."
          </p>
          <cite>SVP, Fortune 50 High Tech</cite>
        </blockquote>

        <blockquote>
          <p>
            "I worked with Elsa for several years as my HR partner and coach to help me navigate organizational changes for my team.  I found her to be a trusted advisor, supportive but always focused on the business and partnering with me as we worked to grow the P&L.   I appreciated her practical advice and guidance.  She is down-to-earth and is always willing to spend the time to develop deep relationships.   She is an expert in her field, and I enjoyed working with her.  She will challenge your assumptions and push you to grow and will also become a great partner to you and your organization."
          </p>
          <cite>CFO, CEO Services & Employee Experience Organization</cite>
        </blockquote>
    </div>

    <div class="speaker-events">
      <h2>Speaker Events</h2>
      <div class="events-gallery">
          <img src="SpeakerEvents-AustinWomanChangemaker.png" alt="Speaker Event 1" class="event-image">
          <img src="SpeakerEvents-Culturati2023.png" alt="Speaker Event 2" class="event-image">
          <img src="SpeakerEvents-Culturati2024.jpg" alt="Speaker Event 3" class="event-image">
          <img src="SpeakerEvents-PanamaANREH.png" alt="Speaker Event 4" class="event-image">
          <img src="SpeakerEvents-DayOneConference.png" alt="Speaker Event 5" class="event-image">
          <img src="SpeakerEvents-expedia.jpg" alt="Speaker Event 6" class="event-image">
      </div>
    </div>
  
  
</body>
</html>